{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


<!-- Registration Form Begin -->
<section class="register spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register__form">
                    <h4>Create an Account</h4>
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <strong>{{ error }}</strong><br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="checkout__input">
                            <p>First Name<span>*</span></p>
                            {{form.first_name}}
                        </div>
                        <div class="checkout__input">
                            <p>Last Name<span>*</span></p>
                            {{form.last_name}}
                        </div>
                        <div class="checkout__input">
                            <p>Email<span>*</span></p>
                            {{form.email}}
                        </div>
                        <div class="checkout__input">
                            <p>Username<span>*</span></p>
                            {{form.username}}
                        </div>
                        <div class="checkout__input">
                            <p>Password<span>*</span></p>
                            {{form.password1}}
                        </div>
                        <div class="checkout__input">
                            <p>Confirm Password<span>*</span></p>
                            {{form.password2}}
                        </div>
                        <button type="submit" class="site-btn">Register</button>
                    </form>
                    <p>Already have an account? <a href="{% url 'userauths:login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Registration Form End -->

{% endblock content %}
